<%= content_for :header do %>
  <style type="text/css">
    body > section img {width: 200px; margin: 0 1em}
  </style>
<% end %>
<%= markdown_content do %>


<!--<%= hosted_image_tag 'eu-chapeu.jpg', :alt => 'Eu de chapéu', :style => 'float: left' %>-->
<!--<%= hosted_image_tag 'sabrina-rodrigo-com-nuvens.jpg', :alt => 'Sabrina e Rodrigo', :style => 'float: right' %>-->


<p style="clear:right">
  Eu sou um fissurado por tecnologia, não me prendo a tecnologia nem tampouco defendo uma ou outra assiduamente. Não entro em discussões do tipo minha tecnologia é melhor que a sua, blabla, etc...
  Enfim eu acredito que determinada tecnlogia, linguagem, framework, plugins e outros se aplicam melhor a determinado projeto.

</p>

<!--<%= hosted_image_tag 'rodrigo-cavaco.jpg', :alt => 'Rodrigo com o cavaco', :style => 'float: right' %>-->


<!--<%= hosted_image_tag 'rodrigo-violao-noel.jpg', :alt => 'Rodrigo com o violão', :style => 'float: left' %>-->


<!--<%= hosted_image_tag 'rodrigo-rails-summit-2009.jpg', :alt => 'Rodrigo na Rails Summit 2009', :style => 'float: right' %>-->


<!--<%= hosted_image_tag 'sabrina-rodrigo-santa-teresa.jpg', :alt => 'Rodrigo e Sabrina em Santa Teresa', :style => 'float: left' %>-->


<% end %>
